<html>
<h1 align="center">PhotoSite User List </h1>
<body>
<p align="center" style="font-size:20px">There are 6 users </p>
<table align="center" cellpadding="10" cellspacing="10">
  <tr>
    <th style="font-size:19px" align="left">User ID</th>
    <th style="font-size:19px" align="left">First Name</th>
    <th style="font-size:19px" align="left">Last Name</th>
  </tr>
  <% @users_all.each do |user| %>
      <tr>
        <td style="font-size:17px"><%= user.id %></td>
        <td style="font-size:17px"><%= link_to user.first_name, :controller => 'photos', :action => 'index', :id => user.id  %></td>
        <td style="font-size:17px"><%= user.last_name %></td>
      </tr>
  <% end %>
</table>
</body>
</html>